
.modalContainer{
    z-index: 110;
     background-image: url("../assets/images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(118deg, rgb(27, 1, 1) 2%,  rgb(0, 0, 0) 100%);
    position: fixed;
    z-index: 1000;
    left: 50%;
    width: 90%;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    transform: translateX(-50%); /* Horizontal centering */
    height: 70vh; /* Full height when expanded */
    bottom: -66vh; /* Start hidden (only 5vh visible) */
    transition: bottom 0.5s ease; /* Smooth slide animat*/
}

.active{
    bottom: 0; /* Fully visible */
}
.inactive{
    box-shadow: 0px 0px 5px 1px rgb(37, 6, 6);
}

.modalBackdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
   background: linear-gradient(45deg, black 10%, red 5%, black 20%);
}
.closeModal{
background-color: transparent;
border: none;
    padding: 5px;
}
.filterContainer{
    text-align: left;
    padding: 30px 20px;
    position: absolute;
    top: 10%;
    }
.filterIcon{
        width: 5%;
        text-align: left;
        cursor: pointer;
    }
    
@media (min-width:766px) {
    .modalContainer{
        width: 41%;
        position: fixed;
        top: 55%;
        left: -38vw;
        box-shadow: none;
        transition: left 0.5s ease; /* Smooth slide animat*/
        border-bottom-right-radius: 20px;
        transform: translateY(-55%); /* vertical centering */
    }
    .active{
    left: 1vw; /* Fully visible */
    }
    .closeModal{
        position: absolute;
        top: 50%;
        right: 0;
       transform: rotate(90deg);
    }

    .filterIcon{
        width: 15%;
    }
}
@media (min-width:1024px) {
    .modalContainer{
        width: 30%;
        position: fixed;
        height: 50vh; /* Full height when expanded */
        left: -28vw;
    }
        .active{
    left: 0vw; /* Fully visible */
    }
    .filterContainer{
        text-align: left;
        padding: 30px 30px;
        position: absolute;
        top: 2%;
        }
    .filterIcon{
        width: 8%;
    }

}