
html {
  position: relative;
    width: 100%;
  height: 100%;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 20%;
  z-index: -1;
}

.sliderContainer{
    margin-top: 13vh;
    margin-bottom: 20px;
}
/*
.nav{
    background-color: black;
     position: absolute;
      height: 100vh;
    top: 14%;
    left:-70vw;
    z-index: 999;
}
*/
.nave{
    margin-top: 15px;
    position: absolute;
    z-index: 2000;
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 5px;
    height: 90%;
}

.navList{
    list-style: none;
    position: fixed;
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
    height: 100vh;
    z-index: 1000;
    padding: 10px;
    top: 0;
    left:-70vw;
    box-shadow: 0px 0px 5px 1px rgb(37, 6, 6);
    text-align: end;

    transition: left 0.1s ease; 
}
    
.logoutButton{
    width: 50%;
    left: 50%;
    bottom: 0;
    left: 40%;
    padding: 10px;
    position: absolute;
text-align: center;
    opacity: 0.5;
    background-color: black;
     color: rgb(187, 174, 174);

}
.logoutButton:hover{
    opacity: 1;
}
.active{
    left:0vw;
    height: 100vh;
}
.welcome{
    font-family: mont1;
    margin-bottom: 10px;
}
.btn{
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 5px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
     margin: 5px 0px;
     box-shadow: 0px 0px 2px 2px rgb(59, 2, 12);
}

.viewMorebtn{
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 5px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
     margin: 5px 0px;
     box-shadow: 0px 0px 5px 7px rgb(235, 206, 211);
}
.modalBackdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
   background: linear-gradient(45deg, black 10%, red 5%, black 20%);
}
/*styling for hamburger*/
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    left: 10px;
    top: 10%;
    transform: translate(-10%);
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
}
  .hamburger:focus{
        box-shadow: 0px 0px 10px 7px rgb(235, 206, 211);
        border: 2px solid red;
  }
  .hamburger:hover{
    border: 3px solid red;
    border-radius: 5px;
    transition: border 1s ease-in;
  }

.hamburgerLine1{
    background: linear-gradient(45deg, black, red);
    margin-left: 5px;
}
.hamburgerLine2{
    background-color: rgb(19, 1, 1);
}
.hamburgerLine3{
    background: linear-gradient(45deg, black, red);
    margin-left: 5px;
}
.hamburgerLine1, .hamburgerLine2, .hamburgerLine3{
    width:25px;
    border-radius: 5px;
    height: 5px;
}

/*button styling*/
.btnFirst{
    height: 20px;
    padding: 10px;
    text-align: center;
    visibility: hidden;
}

/*slider ssection*/
.tagline{
    margin-top: 18px;
    font-family: mont1;
    font-size: small;
}
.downFall{
    color: red;
    font-size: large;
}
.btnn{
    margin: 10px;
     background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 10px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
     box-shadow: 0px 0px 2px 2px rgb(59, 2, 12);
}

/*for pictures and testimony */

.pictureAndTestimony{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid red;
    box-shadow: 0px 0px 7px 3px rgb(59, 2, 12);
    font-family: mont1;
    justify-content: center;
}
.picture, .testimony{
    width: 95%;
}
.testimonyPicture{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);


}
.testimony{
    text-align: center;
    align-items: center;
}

.testify {
    font-family: mont2;
}

.feature{
    font-size: x-large;
}

/*card container*/
.cardContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
}
.cardContainerr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 38px;
    width: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 25rem;
    border-left: 2px solid red;

}
.cta{
    font-family: mont2;
    margin: 20px;

}
.bottomm{
    margin-top:20px;
    padding: 10px;
}

fieldset{
    padding-bottom: 10px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 7px 3px rgb(231, 220, 222);
    margin: 10px;
}

.sectionContainer{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    flex: none;
    padding: 0;
}

.innerContainer{
    width: 100%;
}
.quote{
    width: 14rem;
}
.imageContainer{
    flex:0;
    width: 100%;

}

@media (min-width:768px) {
    .pictureAndTestimony{
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction:row;
    border-top: 2px solid red;
    box-shadow: 0px 0px 7px 3px rgb(59, 2, 12);
    font-family: mont1;
    justify-content: center;
}
.picture, .testimony{
    width: 95%;
}
.sectionContainer{
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;

}
.innerContainer{
    width: 90%;
    text-align: center;

}
.cardContainerr{
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 38px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 25rem;

    border-left: 2px solid red;
}
}
@media (min-width:1024px) {
    .nav{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 10px;
    }
    .welcome{
        margin-top: 40px;
        font-size: large;
        font-family: mont1;
    }
    .nave{
        padding: 5px;
    margin-top: 0;
    position: absolute;
    z-index: 2000;
   border-left: 2px solid rgb(83, 2, 2);
     border-right: none;
    padding-right: 5px;
    display: flex;
    list-style: none;
    gap: 10px;
    height: 90%;
}
    .navList{
    gap: 1px;
    position: absolute;
    background: none;
    height: 5vh;
    width: 95vw;
    z-index: 1000;
    padding: 10px;
    top: 0;
    left:0vw;

    box-shadow: none;
    border-radius: 10px;
    transition: left 0.1s ease; 
}
.btnFirst{
    visibility: visible;
    border-radius: 5px;
    height: 35px;
    padding-top: 10px;
    border: none;
    padding-bottom: 10px;
    color: white;
    font-family: mont1;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgb(235, 206, 211);
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
}
.hamburger{
    display: none;
}
.btn{
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 5px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
     box-shadow: 0px 0px 3px 2px rgb(59, 2, 12);
}
/*slider ssection*/
.tagline{
    margin-top: 70px;
    font-family: mont1;
    font-size: x-large;
    font-weight: bold;
}
.testify {
    font-family: mont1;
    font-size: large;
    opacity: 80%;
}
.feature{
    font-family: mont1;
    font-size: xx-large;
}

.btnn{
     background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 10px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
}
hr{
    border: none;
    color: transparent;
}
.pictureAndTestimony{
    display: flex;
    align-items: center;
}

.pictureAndTestimony{
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction:row;
    border-top: 2px solid red;
    box-shadow: 0px 0px 3px 3px rgb(59, 2, 12);
    font-family: mont1;
    justify-content: center;
}
.picture, .testimony{
    width: 95%;
}

.cta{
    
    width: 50%;
}
.ctaContainer{
    margin-top: 100px;
}
.ctah3{
    text-align: center;
    font-family: mont2;
    margin: 20px;
}
.sliderContainer{
    margin-bottom: 6%;
    margin-top: 9vh;
}
/*slider ssection*/
.tagline{

    font-family: mont1;
    font-size: large;
}
.sectionContainer{
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;

}
.cardContainerr{
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 38px;
    width: 20%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 25rem;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
       .cardContainerr::-webkit-scrollbar{
        background-color: rgb(83, 0, 0);
        width: 8px;
    }

   .cardContainerr::-webkit-scrollbar-track{
        background-color: rgb(255, 255, 255);
    }

    .cardContainerr::-webkit-scrollbar-thumb{
        background-color: rgb(172, 167, 167);
        opacity: 70%;
        cursor: pointer;
    }

    .cardContainerr::-webkit-scrollbar-thumb:hover{
        background-color: rgb(172, 167, 167);
            opacity: 100%;
    }

.imageContainer{
    flex:1
}
.quote{
    width: 15rem;
}
.innerContainer{
    width: 70%;
    text-align: center;

}
fieldset{
    box-shadow: 0px 0px 5px 3px rgb(172, 167, 167);
    margin-top: 100px;
    padding-bottom: 10px;
    
}

}