.modalButton{
 

    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    opacity: 90%;
    font-size: large;
    font-weight: bolder;
    border: none;
     color: rgb(187, 174, 174);
      background: black;
      margin: 5px;
    box-shadow: 0px 0px 5px 1px rgb(124, 96, 96);
}
.logoutButton{
    padding: 10px;
    width: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    left: 50%;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    opacity: 0.5;
    background-color: black;
     color: rgb(187, 174, 174);
}
.logoutButton:hover{
    opacity: 1;
}
