*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    font-family: mont1;
    font-size: small;
    padding: 10px;
    margin-top: 20px;
}

.cardContainerr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
      border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
     gap: 3px; /* space between cards */
}
.btnn{
    background: linear-gradient(150deg, red 50%,  rgb(114, 3, 3) 100%);
     padding: 5px;
     border-radius: 5px;
     color: white;
     font-family: mont1;
     border: none;
     margin: 5px 5px;
     box-shadow: 0px 0px 7px 3px rgb(59, 2, 12);
}
.cardContainerrmain{
    display: flex;
    flex-wrap: wrap;
        border: 2px solid rgb(196, 19, 19);
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 38px;
}
@media (min-width:768px) {
    .filterIcon{
        width: 5%;
    }
    .cardContainerr{
          border:none;
    }
}
@media (min-width:1024px) {
    .filterIcon{
        width: 2%;
    }
    .filterContainer{
        text-align: left;
        padding: 30px 30px;
    }
    .cardContainerr{
        text-align: center;
        gap: 15px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
        max-width: 90%;
    }
}